* {
	box-sizing: border-box;
}

@font-face {
	font-family: merriweather;
	src: url('fonts/merriweather/merriweather-regular.ttf')  format('truetype');
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="column-"] {
	width: 100%;
}

[class*="column-"] {
    float: left;
    padding: 15px;
}

@media only screen and (min-width: 768px) {
	.column-1 {width: 8.33%;}
	.column-2 {width: 16.66%;}
	.column-3 {width: 25%;}
	.column-4 {width: 33.33%;}
	.column-5 {width: 41.66%;}
	.column-6 {width: 50%;}
	.column-7 {width: 58.33%;}
	.column-8 {width: 66.66%;}
	.column-9 {width: 75%;}
	.column-10 {width: 83.33%;}
	.column-11 {width: 91.66%;}
	.column-12 {width: 100%;}
}

html, body {
	height: 100%;
	margin: 0;
	width: 100%;
}

input[type=text], select {	
	border: 2px solid rgb(0, 102, 119);
	border-radius: 4px;
	display: block;
	font-size: 18px;
	margin: 0 auto;
	outline: none;
	padding: 12px 20px;
	width: 80%;
}

input[type=text]:focus {
	border: 2px solid rgb(113, 202, 198);
}

input[type=submit] {
	background-color: rgb(9, 118, 125);
	border: 2px solid rgb(113, 202, 198);
	border-radius: 3px;
	color: rgb(113, 202, 198);
	cursor: pointer;
	display: block;
	font-size: 18px;
	line-height: 34px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 10px; 
	outline: none;
	width: 35%;
}

input[type=submit]:active {
	background-color: rgb(9, 118, 125);
	border: 2px solid rgb(113, 202, 198);
	outline: none;
	transform: translateY(4px);
}

label {
	color: white;
	display: block;
	font-size: 18px;
	margin: auto;
	margin-top: 30px;
	width: 80%;
}

table, th, td {
	border: 2px solid rgb(9, 118, 125);
	border-collapse: collapse;
}

table {
	width: 100%;
}

th, td {
	font-size: 18px;
	height: 40px;
}

td {
	padding: 10px;
}

h1.blueFont {
	color: rgb(86, 86, 86);
	font-family: merriweather;
}

.blueFont {
	color: rgb(9, 118, 125);
}

.blueBackground {
	background-color: rgb(9, 118, 125);
	box-shadow: 2px 2px 2px grey;
	padding: 20px;
}

#menu {	
	height: 75%;
}

#menuForm {
	border-radius: 8px;
	height: 70%;
	margin: 0 auto;
	padding-top: 10px;
}

#sellerColumn {
	width: 30%;
}

#reasonColumn {
	width: 70%;
}
