* {
	box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="column-"] {
	width: 100%;
}

[class*="column-"] {
    float: left;
    padding: 15px;
}

@media only screen and (min-width: 768px) {
	.column-1 {width: 8.33%;}
	.column-2 {width: 16.66%;}
	.column-3 {width: 25%;}
	.column-4 {width: 33.33%;}
	.column-5 {width: 41.66%;}
	.column-6 {width: 50%;}
	.column-7 {width: 58.33%;}
	.column-8 {width: 66.66%;}
	.column-9 {width: 75%;}
	.column-10 {width: 83.33%;}
	.column-11 {width: 91.66%;}
	.column-12 {width: 100%;}
}

table, tr, td, th {
	border-collapse: collapse;
}

table.cardInfoTable {
	border: 1px solid black;
	margin-left: 30px;
	margin-top: 20px;
}

table.cardPricesTable {
	border: 1px solid black;
	margin-left: 30px;
	margin-top: 30px;
}

table.cardPricesTable th {
	border: 1px solid black;
}

table.cardPricesTable td {
	border-right:  1px solid black;
	border-left:  1px solid black;
}

.bookTitle {
	margin-left: 30px;
}

.card {
	background: linear-gradient(rgb(221, 193, 153), rgb(208, 171, 116));
	border-top: none;
	border-radius: 5px;
	height: 500px;
	margin: 70px 0;
}

.card::before {
	background: rgb(221, 193, 153);
	border-bottom: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	content: "";
	display: block;
	height: 20px;
	line-height: 20px;
	position: relative;
	top: -30px;	
	vertical-align: middle;
	width: 20%;
}

#back {
	border-bottom: 1px solid black;
	height: 70px;
}

section.pagination ul {
	list-style-type: none;
}
.pagination ul li {
	border: 1px solid grey;
	display: inline;
}

.pagination ul li a {
	border: 1px solid grey;
	padding: 8px 16px;
}