<!DOCTYPE HTML>
<html lang="en-US">
	<head>
	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>The Remora</title>
      <link href="{{ url_for('static', filename='stylesheets/main.css') }}" rel="stylesheet" type="text/css" />
	
	</head>
	
	<body>
	
	{% block content %}
	{% endblock %}
	
	</body>
</html>