<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Find a crook in the database</title>
        <link href="{{ url_for('static', filename='stylesheets/crook.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="row">
        	<section class="column-3">
        		
        	</section>
        	<section id="menu" class="column-6">
	        	<form class="blueBackground" id="menuForm" name="menuForm" action="/find_crook" method="post">
	        		{{ form.hidden_tag() }}
	        		
	        		<label for="findInputName">Seller's name:</label>
	        		{{ form.name(size=300) }}
	        		
	        		<input type="submit" id="inputSubmit" value="Find">
	        	</form>
	        </section>
	        <section class="column-3">
        		
        	</section>
        </div>
        
        <div class="row">
        	<section class="column-3">
        		
        	</section>
        	<section id="crooksTable" class="column-6">
	        	
	        </section>
	        <section class="column-3">
        		
        	</section>
        </div>
        
    </body>
</html>
