{% extends "base.html" %}

{% block content %}
<body>	
	{% if current_user.is_authenticated %}
	<div class="row">
	  	<header id="logOut" class="column-12">        	
	  		<a href="/logout" style="float: right;">Log out</a>        	        	
	  	</header>
	</div>
	{% endif %}
	
	<div class="row">
	  	<header id="logo" class="column-12">        	
	  		<h1 class="blueFont">
	     		Remora
	     	</h1>        	        	
	  	</header>
	</div> 	
	
	<div class="row">
		<section class="column-3">
	  		
	  	</section>
	  	
	  	<section id="menu" class="column-6">
	  		<form class="blueBackground" id="menuForm" name="menuForm" action="/" method="post" enctype="multipart/form-data">
	  			{{ form.hidden_tag() }}
     		
	     		<label for="inputTitle">Title:</label>
	     		{{ form.title(size=300) }}
	     		
	     		<label for="inputIsbn">ISBN-10: </label>
	     		{{ form.isbn(size=50) }}
	     		
	     		<div id="newerCheckboxLabel">
	     			<label for="inputNewer" id="newerLabel">Without a newer edition: {{ form.newer_unavailable }}</label>	    
	     		</div>
	     		
	     		<div id="tradeInCheckboxLabel">
	     			<label for="inputTradeIn" id="tradeInLabel">Only trade-ins: {{ form.only_trade_in }}</label>	    
	     		</div>
	     		
	     		<table id="conditions">
	     			<tr>
	     				<td>
	     					<label for="inputShowNew" id="showNewLabel">
	     						{{ form.show_new }} New
	     					</label>
	     				</td>
	     				<td>
	     					<label for="inputShowLikeNew" id="showLikeNewLabel">
	     						{{ form.show_like_new }} Like new
	     					</label>
	     				</td>
	     			</tr>
	     			<tr>
	     				<td>
	     					<label for="inputShowVeryGood" id="showVeryGoodLabel">
	     						{{ form.show_very_good }} Very good
	     					</label>
	     				</td>
	     				<td>
	     					<label for="inputShowGood" id="showGoodLabel">
	     						{{ form.show_good }} Good
	     					</label>
	     				</td>
	     			</tr>
	     		</table>
	     		
	     		<label for="inputRank">Rank less than: </label>
	     		{{ form.rank(size=100) }}
	     		
	     		<label for="inputProfit">Profit more than: </label>
	     		{{ form.profit(size=100) }}
	     		
	     		<label for="inputProfitRatio">Profit ratio more than: </label>
	     		{{ form.profit_ratio(size=100) }}
	     		
	     		<label for="inputTradeIn">Trade-in more than: </label>
	     		{{ form.profit_trade_in(size=100) }}
	     		
	     		<label for="inputCategory">Category: </label>
	     		{{ form.category }}
	     		
	     		<input type="submit" id="inputSubmit" value="Find">
	  		</form>
		</section>
		
		<section class="column-3">
  		
		</section>
	</div>    
 </body>
{% endblock %}