{% extends "base.html" %}

{% block content %}
<body>	
 	<div class="row">
	  	<header id="logo">        	
	  		<h1 class="blueFont">
	     		Remora
	     	</h1>        	        	
	  	</header>
	</div>
	
	<div class="row">
		<section class="column-3">
	  		
	  	</section>
	  	
	  	<section id="menu" class="column-6">
	  		<form class="blueBackground" id="menuForm" name="menuForm" action="/login" method="post" enctype="multipart/form-data">
	  			{{ form.hidden_tag() }}
     		
	     		<label for="inputUsername">Your username</label>
	     		{{ form.username(size=150) }}
	     		
	     		<label for="inputPassword">Enter the password</label>
	     		{{ form.password(size=150) }}
	     		
	     		<div class="menuCheckbox">
	     			<label for="inputRememberMe" id="rememberMeLabel">
	     				Remember me: {{ form.remember_me }}
	     			</label>		     		
	     		</div>
	     		
	     		<input type="submit" id="inputSubmit" value="Sign in">
	  		</form>
		</section>
		
		<section class="column-3">
  		
		</section>
	</div>    
 </body>
{% endblock %}
