<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add a crook from Amazon to the database</title>
        <link href="{{ url_for('static', filename='stylesheets/crook.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
    	<header id="back">
        	<div class="row column-12">
        		<a href="index">Back</a>
        	</div>        	
        </header>
        
        <div class="row">
        	<section class="column-3">
        		
        	</section>
        	<section id="menu" class="column-6">
	        	<form class="blueBackground" id="menuForm" name="menuForm" action="/add_crook" method="post">
	        		{{ form.hidden_tag() }}
	        		
	        		<label for="addInputName">Seller's name:</label>
	        		{{ form.name(size=300) }}
	        		
	        		<label for="addInputReason">Reason: </label>
	        		{{ form.reason(size=500) }}
	        		
	        		<input type="submit" id="inputSubmit" value="Add">
	        	</form>
	        </section>
	        <section class="column-3">
        		
        	</section>
        </div>
        
        <div class="row">
        	<section class="column-3">
        		
        	</section>
        	<section id="crooksSection" class="column-6">
	        	<table id="crooksTable">
    				<tr>
    					<th id="sellerColumn">Seller's name: </th>
    					<th id="reasonColumn">Reason: </th>
    				</tr>
    				{% if crooks %}
    				{% for crook in crooks %}
    				<tr>
    					<td>{{ crook.name }}</td>
    					<td>{{ crook.reason }}</td>
    				</tr>
    				{% endfor %}
    				{% endif %}
    			</table>
	        </section>
	        <section class="column-3">
        		
        	</section>
        </div>
        
    </body>
</html>
